<html lang="en">
  
  <%- include ("../partials/head") %>
    <link rel="stylesheet" href="/css/cart.css">
    
    <%- include ("../partials/header") %>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <main>
        <div class="container-cart">
            <div class="row mt-3">
                <div class="col">
                    <h2 class="d-flex justify-content-center mb-3">Carrito</h2>
                    <form id="procesar-pago" action="#" method="post">

                        <div id="carrito" class="form-group table-responsive">
                            <div class="table" id="lista-compra">
                                <div class="mini">
                                    <div>
                                        <figure>
                                            <img src="/uploads/products/1629657527158-.jpg" width="100px" height="100px">
                                        </figure>
                                        <div>
                                            <p>Mother Asrock H310CM-HDV Socket 1151 8va Gen</p>
                                        </div>
                                        <div>
                                            <p>$ 6.390</p>
                                        </div>
                                        <div class="hello">
                                            <div>
                                                <input type="number" class="form-control cantidad" min="1" value="2">
                                            </div>
                                        </div>
                                        <p id="subtotales"><b>$ 12.780</b></p>
                                        <div>
                                            <a href="#" class="borrar-producto fas fa-times-circle" style="font-size:20px" data-id="${producto.id}"></a>
                                        </div>
                                    </div>
                                    <div>
                                        <figure>
                                            <img src="/uploads/products/1629658827702-.jpg" width="100px" height="100px">
                                        </figure>
                                        <div>
                                            <p>Placa de Video Zotac GeForce RTX 3090 24GB GDDR6X Trinity</p>
                                        </div>
                                        <div>
                                            <p>$ 445.900</p>
                                        </div>
                                        <div class="hello">
                                            <div>
                                                <input type="number" class="form-control cantidad" min="1" value="1">
                                            </div>
                                        </div>
                                        <p id="subtotales"><b>$ 445.900</b></p>
                                        <div>
                                            <a href="#" class="borrar-producto fas fa-times-circle" style="font-size:20px" data-id="${producto.id}"></a>
                                        </div>
                                    </div>
                                    <div>
                                        <figure>
                                            <img src="/uploads/products/1629659117366-.jpg" width="100px" height="100px">
                                        </figure>
                                        <div>
                                            <p>Memoria OLOy DDR4 32GB (2x16GB) Owl Red 3000MHz CL16</p>
                                        </div>
                                        <div>
                                            <p>$ 17.945</p>
                                        </div>
                                        <div class="hello">
                                            <div>
                                                <input type="number" class="form-control cantidad" min="1" value="1">
                                            </div>
                                        </div>
                                        <p id="subtotales"><b>$ 17.945</b></p>
                                        <div>
                                            <a href="#" class="borrar-producto fas fa-times-circle" style="font-size:20px" data-id="${producto.id}"></a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <h3><u>Subtotal:</u> $ 476.625</h3>
                                            <p id="subtotal"></p>
                                        </div>
                                        <div>
                                            <h3><u>IVA:</u> $ 100.091</h3>
                                            <p id="igv"></p>
                                        </div>
                                        <div>
                                            <h3><u>Total:</u> $ 576.716</h3>
                                            <p id="total"></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="btns justify-content-between">
                            <div class="col-md-4 mb-2">
                                <a href="/" class="btn btn-info btn-block">Seguir comprando</a>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <a href="/" class="btn btn-success btn-block" id="procesar-compra">Realizar compra</a>
                            </div>
                        </div>
                    </form>


                </div>


            </div>

        </div>
    </main>

    </section>
 
 <%- include ("../partials/footer") %>
    <script src="/js/carrito.js"></script>
    <script src="/js/compras.js"></script>
    <script src="/public/js/main.js"></script>