
body {
    background-image: linear-gradient(#d3cce3, #e9e4f0);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans", sans-serif;
}

.detail {
    position: relative;
    width: 1000px;
    min-width: 350px;
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-image {
width: 40%;
height: 500px;
background: white;
position: relative;

}

.box-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    
}

.description {
width:60%;
min-height: 500px;
height: auto;
background: #333333;
padding: 40px;
display: flex;
justify-content: center;
color: white;
}

.name {
    font-family:'Dosis', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
}

.info {
    font-size: 14px;
    line-height: 20px;
    margin: 50px 0;
    }

.price {
    font-size: 40px;
font-weight: 60;
margin-bottom: 20px;

}
/* 
.box-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 */

 .box-btn {
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;
margin: 10px;

 }



button {
    width: 130px;
    height: 45px;
    border: none;
    color:#333333;
    background-color: #d3cce3;
    border-radius: 3px;
    font-size: 2rem;
    cursor:pointer;
    box-shadow: inset 0 0 0 0 gold;
    transition: ease-out 0.3s;

}




button:hover {
    box-shadow: inset 300px 0 0 0 gold;
}

@media screen and (max-width: 800px) {
    .detail {
        flex-direction: column;
        width: 90%;
        margin: 12vh 0;
}

    .box-image {
        width: 90%;
        height: 300px;
    }

    .description {
        width: 90%;
        min-height: auto;
        padding: 5px;
        text-align: center;
    }

.name, .price {
    font-size: 30px;
    margin: 2rem;
}

.info {

    font-size: 14px;
    margin: 2rem;
}
.box-btn {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content:center;
    position: relative;
    padding: 10px;
}

button {
position: relative;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
border:2px solid #333333;
border-radius: 5px;
width: 300px;
height: 45px;

}
}




















