<footer>
    <div class="newsletter">
      <i class="far fa-envelope"></i>

      <p>Suscríbete a nuestro newsletter:</p>
      <br />
      <form action="#">
        <input type="email" name="email-addres" placeholder="Tu Email" />
        <button type="submit">Suscríbete</button>
      </form>
    </div>

    <div class="social">
      <p>Visita nuestras redes sociales:</p>
      <div class="links">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin"></i>
        </a>
        <div class="copy">
          <p> Copyright © 2021 BitShop.</p>
      </div>
      </div>
    </div>

    <div class="envios">
      <i class="fas fa-shipping-fast"></i>
      <p>Envíos a todo el país.</p>
      <i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-amex"></i>
      <p>Elegí cómo pagar.</p>
    </div>

  </footer>