
<header>
  
  <div class="menu-btn">
   <i class="fas fa-bars"></i>
  </div>
    <div class="container">
      <nav class="nav-main">
        <a href="/"><img src="/images/Logo png2.png" alt="logo-bit-shop" /></a>
        <ul class="nav-menu-left">
          <li><a href="/product/pcs">PC</a></li>
          <li><a href="/product/componentes">Componentes</a></li>
          <li><a href="/product/perifericos">Periféricos</a></li>
          <li><a href="#">Contacto</a></li>
          <li class="cart"><a href="/product/cart"><i class="fas fa-cart-arrow-down"></i></a></li>
        </ul>
        <ul class="nav-menu-user">
          <% if (locals.userLogged){ %>
           
               <a href="/user/userDetail" >
                
                  <img src="/uploads/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
                  
                  <p><%= locals.userLogged.user_name %></p>
                  
               </a>
  
            <% } else { %>
          <li><a href="/user/login">Ingresar</a></li>
          <li><a href="/user/register">Registrarse</a></li>
          <% } %>
        </ul>
      </nav>
    </div>


    
  </header>
  <script src="/js/header.js"></script>
  <script
      src="https://kit.fontawesome.com/d97ccaa3ff.js"
      crossorigin="anonymous"
    ></script>
    